
<div>		
<ng-nav></ng-nav>
</div>
<!-------------------------------------- section begins   ------------------------->
<div class='row'><div class='col-md-10'></div><div class='col-md-2'><h3 class='wlad'>Welcome admin</h3></div></div>

<div class='gap'></div>

<div class='gap'></div>

    <section id="services" class="service-item">
	  <!--  <div class="container">
            <div class="center wow fadeInDown">
                <h2>Our Service</h2>
               
            </div> -->

            <div class="row">
				<div class='col-md-1'></div>
				    <div class="col-md-4" align='center'>
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <img class="imageres" src="image/setBranch.png" height='150' width='150'  data-toggle="modal" data-target="#branchModal">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading commonFont">Create Branch</h3>
                            <p class="commonFont">Create a new branch with iNB</p>
                        </div>
                    </div>
                
				
				</div>
				
				
				<div class='col-md-2'></div>
				   
                <div class="col-md-4" align='center'>
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <img class="imageres" src="image/setManager.png" height='150' width='150' data-toggle="modal" data-target="#createBMModal">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading commonFont">Create Branch Manager</h3>
                            <p class="commonFont">Create a new bank manager with iNB </p>
                        </div>
                
                </div>
				   
				<div class='col-md-1'></div>
				
				
				
				</div>
		    </div>
		    
		    
		    
		    <div class='gap'></div>
		    <div class='gap'></div>
<div class='gap'></div>
		    
		    <div class="row">
				   <div class='col-md-1'></div>
				    <div class="col-md-4" align='center'>
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <img class="imageres" src="image/getBranch.png" height='150' width='150' ng-click="getBranches()">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading commonFont">Get All Branches</h3>
                            <p class="commonFont">Get a list of all branches in iNB</p>
                        </div>
                   
                </div>  
				   
				</div>
				<div class='col-md-2'></div>
				   <div class="col-md-4" align='center'>
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <img class="imageres" src="image/getManager1.png" height='150' width='150' ng-click='getManagers()'>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading commonFont">Get All Branch Managers</h3>
                            <p class="commonFont">Get a list of all branch managers in iNB</p>
                        </div>
                   
                </div>
				<div class='col-md-1'></div>
				
				</div>
		    </div>
		    
				
                

                

                

                                                           
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#services-->






<div class='gap'></div>
<div class='gap'></div>










<!-- 
<div class='row'>
  <div class='col-md-3' align='center'>
     <div class='row'>
     <img src='image/getManager1.png' width='200' height='200' ng-click='getManagers()'>
     </div>
     <div class='row'>Get Managers</div>
  </div>
  <div class='col-md-3' align='center'>
     <div class='row'>
     <a ><img src='image/setManager.png' width='200' height='200' data-toggle="modal" data-target="#createBMModal"></a>
     </div>
     <div class='row'>Create Manager</div>
  </div>
  <div class='col-md-3' align='center'>
  	<div class='row'>
     <a ng-click="getBranches()"><img src='image/getBranch.png' width='200' height='200' ></a>
    </div>
    <div class='row'>Get Branch</div>
  </div>
  <div class='col-md-3' align='center'>
     <div class='row'>
     <img src='image/setBranch.png' width='200' height='200' data-toggle="modal" data-target="#branchModal">
     </div>
     <div class='row'>Create Branch</div>
  </div>

</div>

 -->
            <!--  <div>
			   <table border= '1'>
			   <tr>
			   <th>ifscCode</th>
			   <th>Branch Name</th>
			   <th>Branch Address</th>
			   <th>Branch Contact</th>
			   </tr> 
			   <tr ng-repeat='branch in branches'>
			   <td>{{branch.code}}</td>
			   <td>{{branch.branchn}}</td>
			   <td>{{branch.brancha}}</td>
			   <td>{{branch.branchc}}</td>
			   </tr>
			   </table>
			</div> -->
			
			
<!-- 			<div> -->
<!-- 			   <table class='table table-hover'> -->
			   
<!-- 			   value.branch,id : value.id,firstName : value.firstName, email: value.email, dateOfBirth: value.dateOfBirth,userName: value.userName, phone: value.phone, password : value.password, login: value.login, lastName : value.lastName, -->
<!--  		    <tr ng-repeat='manager in managers'> -->
<!-- 			   <td>{{manager.address}}</td> -->
<!-- 			   <td>{{manager.branch}}</td> -->
<!-- 			   <td>{{manager.email}}</td> -->
			   
<!-- 			   </tr> -->
<!-- 			   </table> -->
<!-- 			</div> -->
			
			



<div class='row'>
  


</div>






<!---------------------------- create branch manager -------------------------------->
<div id="createBMModal" class="modal fade" role="dialog">
			  <div class="modal-dialog">
			    <!-- Modal content-->
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal">&times;</button>
			        <h4 class="modal-title">Create Branch Manager</h4>
			      </div>
			     <form name='form'> 
			      <div class="modal-body">
			      
			      
			              <div class='row'>
			                <div class='col-md-6'>
			                   
			                   <div class="form-group">
						  <label for="usr">Username:</label>
						  <input type="text" class="form-control" id="lusr"  ng-model='bmName' name="UserName" placeholder='Username' required " >
						  <p id="bmUser" class="text-danger" style="color:red" ng-show="form.UserName.$touched && form.UserName.$invalid">user name is required.</p>
						   <!-- onfocusout="isEmpty() -->
						</div>
									                   
			                
			                </div>
			                <div class='col-md-6'>
			                
			                  
						<div class="form-group">
						  <label for="pwd">Password:</label>
						  <input type="password" class="form-control" id="bmpswd" ng-model='bmpass' name="bmPass" placeholder='Password' required ">
						  <p id="bmPass" class="text-danger" style="color:red" ng-show="form.bmPass.$touched && form.bmPass.$invalid">password is required.</p> <!-- onfocusout="isEmpty() -->
						</div>
			                  
			                
			                </div>
			              
			              </div>
			              
			              
			              <div class='row'>
			                <div class='col-md-6'>
			                
			                    
						<div class="form-group">
						  <label for="fname">First Name:</label>
						  <input type="text" class="form-control" id="bmfname" ng-pattern="/^[a-zA-Z\s]*$/" ng-model='bmfname' name="bmfname" placeholder='First Name' required ">
						  <p id="bmfname" class="text-danger" style="color:red" ng-show="form.bmfname.$touched && form.bmfname.$invalid">First name is required.</p> <!-- onfocusout="isEmpty() -->
						</div>
						
						
			                    
			                
			                
			                
			                </div>
			                <div class='col-md-6'>
			                   <div class="form-group">
						  <label for="fname">Last Name:</label>
						  <input type="text" class="form-control" id="bmLname" ng-pattern="/^[a-zA-Z\s]*$/" ng-model='bmlname' name="bmlname" placeholder='Last Name' required ">
						  <p id="bmlname" class="text-danger" style="color:red"  ng-show="form.bmlname.$touched && form.bmlname.$invalid">last name is required.</p> <!-- onfocusout="isEmpty() -->
						</div>
			                
			                
			                </div>
			              
			              </div>
			              
			              <div class='row'>
			                <div class='col-md-6'>
			                <div class="form-group">
						  <label for="usr">Email:</label>
						  <input type="email" class="form-control" id="bmemail" ng-model='bmemail' name="bmemail" placeholder='Email' required " >
						  <p id="adminUser" class="text-danger" style="color:red" ng-show="form.bmemail.$touched && form.bmemail.$invalid">Email is required.</p>
						   <!-- onfocusout="isEmpty() -->
						</div>
			                </div>
			                <div class='col-md-6'>
			                
			                    <div class="form-group">
      					  <label class="control-label" for="pwd">Phone:</label>      												
        				  <input type="number" pattern=".{10,10}" class="form-control"  placeholder="Enter phone number" ng-model='bmphone' name='bmphone' required>
        				  <p id="phval" class="text-danger" style="color:red" ng-show="form.bmphone.$touched && form.bmphone.$invalid">Phone number should not be less than 10 digits.</p>
      					</div>
			                </div>
			              
			              </div>
			              
			              <div class='row'>
			                <div class='col-md-6'>
			                
			                    <div class="form-group">
      					  <label class="control-label" for="pwd">Address:</label><br>      												
        				   <input type="text" class="form-control"  placeholder="Enter address" ng-model='bmaddress' name='bmaddress' required>
        				  <p id="phval" class="text-danger" style="color:red" ng-show="form.bmaddress.$touched && form.bmaddress.$invalid">Address is required.</p>
      					</div>
			                </div>
			                <div class='col-md-6'>
			                    <div class="form-group">
						  <label for="pwd">Branch Name:</label>
						  <select type="text" class="form-control"  ng-model='bmBranch' name="branchname" placeholder='Enter branch name' ng-init='bmBranch="none"' ng-click="getBranches1()" required ">
						     <option  value="none">None</option> 
						     <option  ng-repeat='branch in branches'>{{branch.branchn}}</option>   
						 </select>
						   <p id="adminPass" class="text-danger" style="color:red" ng-show="form.branchname.$touched && form.branchname.$invalid">Branch name is required.</p> <!-- onfocusout="isEmpty() -->
						</div>
						
						
						<div class='row'>
			                <div class='col-md-12'>
			                
			                    <div class="form-group">
      					        <label>Date of birth:</label><br> 
						
						        <input type="date"
							    class="form-control"  ng-model='bmdob' name='dob' max="{{minAge | date:'yyyy-MM-dd'}}" required>
						       <p id="phval" class="text-danger" style="color: red" ng-show="form.dob.$touched && form.dob.$invalid">Age should be above 18.</p>
      					        </div>
			           </div>
						</div>
						
						
						 <p class='alert alert-success' ng-hide='bmreg_success'>{{bmreg_success_msg}}</p>
						
<!--                         <div class="form-group"> -->
<!-- 						  <label class="checkbox-inline"><input type="checkbox" value="">Remember Me</label> -->
<!--                         </div> -->
			      </div>
			                </div>
			              
			              </div>
			              
			              
			            			      
			      
			            
						
						
						
      					
      					
      					
      					 				
			
						
      					
			      </form>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-danger" ng-disabled="form.$invalid" ng-click="createBm()">Submit</button>
			      </div>
			    </div>

			  </div>
			</div>
			
			
			
			
			
			<!------------------------------- create branch modal ----------------------------->
			<div id="branchModal" class="modal fade" role="dialog">
			        <div class="modal-dialog modal-sm">
			    <!-- Modal content-->
			         <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal">&times;</button>
			        <h4 class="modal-title">Create a new branch</h4>
			      </div>
			     <form name='createBranchForm'> 
			      <div class="modal-body">
			        <div class="form-group">
						  <label for="usr">IFSC code:</label>
						  <input type="text" class="form-control" id="lusr" ng-pattern="/^(?=.*[0-9])(?=.*[a-zA-Z])([a-zA-Z0-9]+)$/" ng-model='code' name="ifsccode" placeholder='IFSC code' required " >
						  <p id="adminUser" class="text-danger" style="color:red" ng-show="createBranchForm.ifsccode.$touched && createBranchForm.ifsccode.$invalid">Enter valid IFSC code.</p>
						   <!-- onfocusout="isEmpty() -->
						</div>
						<div class="form-group">
						  <label for="pwd">Branch Name:</label>
						  <input type="text" class="form-control" id="pswd" ng-pattern="/^[a-zA-Z\s]*$/" ng-model='branch_name' name="branch_name" placeholder='Enter branch name' required ">
						  <p id="adminPass" class="text-danger" style="color:red" ng-show="createBranchForm.branch_name.$touched && createBranchForm.branch_name.$invalid">Branch name is required.</p> <!-- onfocusout="isEmpty() -->
						</div>
						<div class="form-group">
						 <label >Address:</label>      												
        				 <input type="text" class="form-control" id="email" placeholder="Enter address" ng-model='branch_address' name='baddress' required>
        				 <p id="eval" class="text-danger" style="color:red" ng-show="createBranchForm.baddress.$touched && createBranchForm.baddress.$invalid">Branch address is required.</p>     												
						</div>
						<div class="form-group">
      					  <label >Branch Contact:</label>      												
        				  <input type="number" class="form-control" id="password2" placeholder="Enter branch contact" ng-model='branch_contact' name='phname' required>
        				  <p id="phval" class="text-danger" style="color:red" ng-show="createBranchForm.phname.$touched && createBranchForm.phname.$invalid">Branch contact is required.</p>
      					</div>
      					<p class='alert alert-success' ng-hide='branchreg_success'>{{branchreg_success_msg}}</p>
			      </div>
			      </form>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-danger" ng-disabled="createBranchForm.$invalid" ng-click='createBranch()'>Submit</button>
			      </div>
			    </div>

			  </div>
			</div>
		<div class='gap'></div><div class='gap'></div><div class='gap'></div>	
		
<ng-foot></ng-foot>			
			 