<ng-nav></ng-nav>

Please change password
 <button type="button" class="btn btn-danger" ><a data-toggle="modal" data-target="#changePasswordModal">Change Password</a></button>
<div id="changePasswordModal" class="modal fade" role="dialog">
			  <div class="modal-dialog modal-sm">


<!-- 			<div class="form-group">
						  <label for="name">title:</label>
						  <input type="text" class="form-control" class="control-label" name="title" ng-model='p_title' placeholder=" product title" required>
       					  <p id="tval" class="text-danger" ng-show="pform.title.$touched && pform.title.$invalid">title Required.</p>
						  </div>
 -->

			    <!-- Modal content-->
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal">&times;</button>
			        <h4 class="modal-title">Change Password form</h4>
			      </div>
			     <form name='changePForm'> 
			      <div class="modal-body">
			        <div class="form-group">
						  <label for="usr">Customer-Id:</label>
						  <input type="text" class="form-control"  ng-model='myCustomerId' name="bmName" placeholder='Enter customer Id' required " >
						  <p id="adminUser" class="text-danger" style="color:red" ng-show="bmLoginForm.bmName.$touched && bmLoginForm.bmName.$invalid">user name is required.</p>
						   <!-- onfocusout="isEmpty() -->
						</div>
						<div class="form-group">
						  <label for="pwd">New Password:</label>
						  <input type="password" class="form-control" id="pswd" ng-model='myNewPassword' name="bmPass" placeholder='Enter new password' required ">
						  <p id="adminPass" class="text-danger" style="color:red" ng-show="bmLoginForm.bmPass.$touched && bmLoginForm.bmPass.$invalid">password is required.</p> <!-- onfocusout="isEmpty() -->
						</div>
						
						<!-- <div class="form-group">
						  <label for="pwd">Re-enter new password:</label>
						  <input type="text" class="form-control"  ng-model='bmBranch' name="bmBranch" placeholder='Re-enter new password' required ">
						  <p id="adminPass" class="text-danger" style="color:red" ng-show="bmLoginForm.bmBranch.$touched && bmLoginForm.bmBranch.$invalid">Branch Name is required.</p> onfocusout="isEmpty()
						</div> -->
						
                        <!-- <div class="form-group">
						  <label class="checkbox-inline"><input type="checkbox" value="">Remember Me</label>
                        </div> -->
			      </div>
			      </form>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-danger" ng-disabled="changePForm.$invalid" ng-click="changePassword()">Submit</button>
			      </div>
			    </div>

			  </div>
			</div>


<ng-foot></ng-foot>