<footer>
<div class='row foot'>
<div class='gap1'></div>
<div class='row'>
   
   <div align='center' class='col-md-2 pointer commonFont'  ng-click="aboutUs()">About Us</div>
   <div align='center' class='col-md-2 pointer commonFont' ng-click="terms()">Terms of use</div>
   <div align='center' class='col-md-2 pointer commonFont' ng-click="contactUs()">Contact Us</div>
   <div class='col-md-3'></div>   
   <div class='col-md-2'>
   <div class='row'>
   <ul class='social'>
   <li><a href="https://www.facebook.com"><img src='image/fb.png'  height='30' width='30'></a></li>
   <li><a href="https://www.youtube.com"><img src='image/youtube.png' height='33' width='33'></a></li>
   <li><a href="https://www.gmail.com"><img src='image/gmail.ico' height='33' width='33'></a></li>
   <li><a href="https://www.twitter.com"><img src='image/twitter.png' height='30' width='30'></a></li>
<!-- <div class='col-md-1'></div>
<div class='col-md-1'></div>
<div class='col-md-1'></div>
<div class='col-md-1'></div> -->

</ul>
</div>

</div>
   
 </div> 


</div>
<div class='row bar' ></div>
</footer>