<ng-nav></ng-nav>
<div class='row'>
   <div class='col-md-2 iconlist'>
   <ul>
     
     <li style='border:1px solid black' align='center'><a><figure><img src='image/profilev.png' width='120' height='120'><figcaption>My Profile</figcaption></figure></a></li>
     <br>
     <li style='border:1px solid black' align='center'><a data-toggle="modal" data-target="#moneyTransfer"><figure><img src='image/moneyt.png' width='120' height='120'><figcaption>Money Transfer</figcaption></figure></a></li>
     <br>
     <li style='border:1px solid black' align='center'><a><figure><img src='image/balance.png' width='120' height='120'><figcaption>Account Balance</figcaption></figure></a></li>
     <br>
   </ul>
   </div>
</div>

<ng-foot></ng-foot>




<div id="moneyTransfer" class="modal fade" role="dialog">
			  <div class="modal-dialog modal-sm">


<!-- 			<div class="form-group">
						  <label for="name">title:</label>
						  <input type="text" class="form-control" class="control-label" name="title" ng-model='p_title' placeholder=" product title" required>
       					  <p id="tval" class="text-danger" ng-show="pform.title.$touched && pform.title.$invalid">title Required.</p>
						  </div>
 -->

			    <!-- Modal content-->
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal">&times;</button>
			        <h4 class="modal-title">LOGIN</h4>
			      </div>
			     <form name='adminLoginForm'> 
			      <div class="modal-body">
			        <div class="form-group">
						  <label for="usr">Admin name:</label>
						  <input type="text" class="form-control" id="lusr" ng-model='user' name="adminName" placeholder='Enter admin name' required " >
						  <p id="adminUser" class="text-danger" style="color:red" ng-show="adminLoginForm.adminName.$touched && adminLoginForm.adminName.$invalid">Admin name is required.</p>
						   <!-- onfocusout="isEmpty() -->
						</div>
						<div class="form-group">
						  <label for="pwd">Password:</label>
						  <input type="password" class="form-control" id="pswd" ng-model='pass' name="adminPass" placeholder='password' required ">
						  <p id="adminPass" class="text-danger" style="color:red" ng-show="adminLoginForm.adminPass.$touched && adminLoginForm.adminPass.$invalid">password is required.</p> <!-- onfocusout="isEmpty() -->
						</div>
                         <p class='alert alert-danger' ng-hide='admin_error'>{{error_msg}}</p>
			      </div>
			      </form>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-info" ng-disabled="adminLoginForm.$invalid" ng-click="adminLogin()" >Submit</button>
			      </div>
			    </div>

			  </div>
			</div>